
@{
    ViewBag.Title = "Play";
}

@section Styles {
    @Styles.Render("~/Content/play")
}

<div id="play-container">
    <div id="play-top">
        <h1>@Model.Title</h1>
        <p>by @Model.Author</p>
        <button class="btn btn-info" data-toggle="modal" data-target="#play-info">Show Info</button>
        <button class="btn btn-danger" onclick="resetGame();">Reset</button>
        @if (Model.CanEdit)
        {
            <a href="/Play/edit" button class="btn btn-primary">Edit</a>
        }
        <button class="btn btn-primary">Edit Copy</button>
    </div>
    <div id="play-content">
        <iframe id="play-sandbox" src="/Play/Sandbox" sandbox="allow-scripts"></iframe>
    </div>
</div>
<div class="modal" id="play-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Description</h5>
            </div>
            <div class="modal-body">
                <p>@Model.Description</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        (function () {
            let gameId = @Model.GameId;

            let sandboxElement = document.getElementById("play-sandbox");

            async function onEngineStart() {
                console.log("engine start");
                let res = await fetch("/Content/GetFileNames?gameId=" + gameId);
                let files = await res.json();

                files.forEach((file) => {
                    let url = "/Content/Game/" + gameId + "/" + file;
                    sandboxElement.contentWindow.postMessage({ type: "setFile", file: file, url: url }, "*");
                });
                resetGame();
            }

            window.addEventListener("message", function (event) {
                let msg = event.data;
                if (msg.type == "engineReady") {
                    onEngineStart();
                }
            });

            window.resetGame = function () {
                sandboxElement.contentWindow.postMessage({ type: "setMode", play: true }, "*");
            }
        })();
    </script>
}